body{
    background: #0c111b;  
    background: -webkit-linear-gradient(to right, #0a213a, #0c111b);  
    background: linear-gradient(to right, #0a213a, #0c111b);
    
}
.navbar{
    background: #0c111b; 
    background: -webkit-linear-gradient(to right, #0a213a, #0c111b);  
    background: linear-gradient(to right, #0a213a,#0c111b);
    

}
.videoSize{
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    

}



